<p id="notice"><%= notice %></p>

<p>
  <b>Workout:</b>
  <%= @question.workout %>
</p>

<p>
  <b>Body:</b>
  <%= @question.body %>
</p>

<p>
  <b>Type:</b>
  <%= @question.type %>
</p>

<p>
  <b>Random answers:</b>
  <%= @question.random_answers %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
