<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @attachment.user.email %>
</p>

<p>
  <b>Attachment:</b>

  <img src="<%= @attachment.attachment.url :thumb %>" />
</p>


<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
